@page "/"
@implements IDisposable
@inject Messaging messaging

<a href="/" target="_blank">Nouvelle fenêtre</a>
<br />

    Entrez votre message
<br />
<input type="text" @bind-value="@submitMessage" />
<br />
<button @onclick="@((e) => messaging.NewMessage(submitMessage))">Envoyer</button>

<li>
    @foreach (string s in messages)
    {
        <ul>@s</ul>
    }
</li>

@code
{
    List<string> messages = new List<string>();
    string submitMessage;

    protected override void OnInitialized()
    {
        messaging.NewMessageEvent += NewMessage;
    }

    void IDisposable.Dispose()
    {
        messaging.NewMessageEvent -= NewMessage;
    }

    public Task NewMessage(string message)
    {
        messages.Add(message);
        return InvokeAsync(StateHasChanged);
    }

}